
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'dark-theme-font';
  src: url('/fonts/stopwatch/BeautifulPoliceOfficer-rvv8x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --user-pc-color: #FFFFFF;
}

.stop-markers::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
.stop-markers::-webkit-scrollbar-track {
  background: transparent;
}
.stop-markers::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 3px;
}
.stop-markers::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}

.stop-markers {
  scrollbar-width: thin;
  scrollbar-color: rgba(255, 255, 255, 0.2) transparent;
}

.stop-markers.light::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
}
.stop-markers.light::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.4);
}

.stop-markers.light {
  scrollbar-color: rgba(0, 0, 0, 0.2) transparent;
}