
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@font-face {
  font-family: 'dark-theme-font';
  src: url('/fonts/stopwatch/BeautifulPoliceOfficer-rvv8x.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
    --user-pc-color: #FFFFFF;
}
